.side-nav {
    overflow: visible !important;
}

.side-nav2,
.side-nav3,
.side-nav4,
.side-nav5 {
    margin-left: 25%;
    height: 20%;
    display: none;
}

.dropdown-content {
    margin-top: 75px;
}


.shopp {
    margin-left: 57%;

}

.row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.responsive-img img,
video.responsive-video {
    max-width: 100%;
    height: auto;
}

.row {
    align-content: center;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.white {
    background-color: #fff !important;
}

.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

div {
    display: block;
}

.card{

    width: 50%;
    height: 50%;
    display: inline;
    margin-left: 1%;

}
.container{
    position: relative;
    width: 90%;
    text-align: center;
}

.row .col.m6 {
        margin-left: 20%;
        left: auto;
        right: auto;
        display: inline-flex;
        width: 80%;
    }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}